.App {
  /* text-align: center; */
}


.App-header {
  background-color: #550080;
  box-shadow: 0px 2px rgb(78, 1, 78);
  min-height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 2rem;
  color: white;
  padding: 1em;
  border-bottom: 1px black solid;
  margin-bottom: 2em;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.App-toolbar {
 margin-bottom: 1em;
}

.App-editor {

}
