.App-header {
    background-color: #550080;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* box-shadow: 0px 2px #dcdcdc; */
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: calc(10px + 2vmin); */
    font-size: 3rem;
    color: white;
    padding: 0.1em;
    border-bottom: 1px black solid;
    margin-bottom: 0.5em;
}

.App-main {
    min-height: 100vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 710px) {
    .App-header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 455px) {
    .App-header {
        font-size: 1.5rem;
    }
}
